* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container

{
    width: 100%;
    height: calc(100vh - altezza-header - altezza-player);
    overflow-y: auto;
    padding: 20px;
    background-color: #121212;
    color: white;
}

